<script src="{{uiRootPath}}/js/site.js"></script>
<script src="{{uiRootPath}}/js/vendor/highlight.js"></script>
<script src="{{{uiRootPath}}}/js/vendor/jquery.js"></script>
<script src="{{{uiRootPath}}}/js/vendor/bootstrap.js"></script>
<script src="{{{uiRootPath}}}/js/vendor/tab.js"></script>
<!--<script async src="{{{uiRootPath}}}/js/vendor/docsearch.min.js"></script>-->
<!--  <script src="{{{uiRootPath}}}/js/vendor/tippy.js"></script>-->
<!-- <script async src="{{{uiRootPath}}}/js/vendor/popper.js"></script>-->

<!--<script src="https://unpkg.com/@popperjs/core@2"></script>-->
<!--<script src="https://unpkg.com/tippy.js@6"></script>-->
<!-- <script>
tippy('button', {content: 'tooltip'});
</script>
<script>
// IIFE to ensure safe use of $
(function( $ ) {

  // Create plugin
  $.fn.tooltips = function(el) {

    var $tooltip,
      $body = $('body'),
      $el;

    // Ensure chaining works
    return this.each(function(i, el) {

      $el = $(el).attr("data-tooltip", i);

      // Make DIV and append to page
      var $tooltip = $('<div class="tooltip" data-tooltip="' + i + '">' + $el.attr('title') + '<div class="arrow"></div></div>').appendTo("body");

      // Position right away, so first appearance is smooth
      var linkPosition = $el.position();

      $tooltip.css({
        top: linkPosition.top - $tooltip.outerHeight() - 13,
        left: linkPosition.left - ($tooltip.width()/2)
      });

      $el
      // Get rid of yellow box popup
      .removeAttr("title")

      // Mouseenter
      .hover(function() {

        $el = $(this);

        $tooltip = $('div[data-tooltip=' + $el.data('tooltip') + ']');

        // Reposition tooltip, in case of page movement e.g. screen resize
        var linkPosition = $el.position();

        $tooltip.css({
          top: linkPosition.top - $tooltip.outerHeight() - 13,
          left: linkPosition.left - ($tooltip.width()/2)
        });

        // Adding class handles animation through CSS
        $tooltip.addClass("active");

        // Mouseleave
      }, function() {

        $el = $(this);

        // Temporary class for same-direction fadeout
        $tooltip = $('div[data-tooltip=' + $el.data('tooltip') + ']').addClass("out");

        // Remove all classes
        setTimeout(function() {
          $tooltip.removeClass("active").removeClass("out");
          }, 300);

        });

      });

    }

})(jQuery);

$("a[title]").tooltips();
</script> -->
<script src="../../_/js/vendor/docsearch.js"></script>
<!-- fetched from https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js -->
<!-- old search snippet - begin <script src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script>
function focusSearchInput () { document.querySelector('#input').focus() }
var search = docsearch({
  appId: '7DXYLT633X',
  apiKey: 'f2070e11a04d7c9e7487102e4a68ea1a',
  indexName: 'search-manager',
  inputSelector: '#search-input',
  autocompleteOptions: { hint: false, keyboardShortcuts: ['s'] },
  algoliaOptions: {
    facetFilters: ['version:latest', 'version:6.2', 'version:6.1', 'version:6.0']
  }
}).autocomplete
search.on('autocomplete:closed', function () { search.autocomplete.setVal() })
focusSearchInput()
window.addEventListener('load', focusSearchInput)
</script>-->

<script async id="search-script" src="../../_/js/vendor/docsearch.js" data-app-id="7DXYLT633X" data-api-key="f2070e11a04d7c9e7487102e4a68ea1a" data-index-name="search-manager" data-stylesheet="../../_/css/vendor/docsearch.css"></script>
<!-- old search snippet - end -->
<!-- docsearch snippet - begin -->
<!-- <script src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script> -->
<script>
  docsearch({
    // Your apiKey and indexName will be given to you once
    // we create your config
    apiKey: 'f2070e11a04d7c9e7487102e4a68ea1a',
    indexName: 'search-manager',
    appId: '7DXYLT633X', // Should be only included if you are running DocSearch on your own.
    // Replace inputSelector with a CSS selector
    // matching your search input
    // Set debug to true to inspect the dropdown
    debug: true,
    inputSelector: '#search',
    autocompleteOptions: { hint: false, keyboardShortcuts: ['s'] },
    algoliaOptions: {
      facetFilters: [['version:latest', 'version:6.2', 'version:6.1', 'version:6.0']],
  },
  });
</script>
<!-- docsearch snippet - end -->
