{{#if (and page.component (ne page.component.name 'home'))}}
  <div class="navbar-item has-dropdown">
    <!--<a class="navbar-link component" href="{{relativize page.componentVersion.url}}"><span class="title">{{{page.component.title}}}</span> <span class="version">{{page.componentVersion.displayVersion}}</span></a> -->
    <div class="navbar-dropdown navbar-item">
      <div class="cols">
        <ul>
          {{#each page.versions}}
            <li{{#if (eq ./version @root.page.version)}} class="current"{{/if}}><a class="navbar-item" href="{{relativize ./url}}">{{{@root.page.component.title}}} {{./displayVersion}}</a></li>
          {{/each}}
        </ul>
        {{#if (ends-with page.component.name '-sdk')}}
          <ul class="related">
            {{#each (related-sdk-pages 'c,dotnet,go,java,nodejs,php,python,scala')}}
              <li><a class="navbar-item" href="{{relativize ./url}}">{{{./title}}}</a></li>
            {{/each}}
          </ul>
        {{/if}}
      </div>
    </div>
  </div>
{{else}}
  <a class="navbar-item component" href="{{relativize page.componentVersion.url}}"><span class="title">{{{page.component.title}}}</span>{{#unless (eq page.componentVersion.displayVersion 'master')}} <span class="version">{{page.componentVersion.displayVersion}}</span>{{/unless}}</a>
{{/if}}
<!-- <a class="navbar-item" href="#">Home</a> -->
<div class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link" href="#">Software</a>
  <div class="navbar-dropdown">
    <a class="navbar-item" href="https://antora-cloud.netlify.app/">Cloud</a>
  </div>
</div>
